In [25]:
import pandas as pd
df=pd.read_csv('Model_Selection/AdultIncome.csv')
df

,age,wc,education,marital status,race,gender,hours per week,IncomeClass
0,38,Private,HS-grad,Divorced,White,Male,40,<=50K
1,28,Private,Bachelors,Married,Black,Female,40,<=50K
2,37,Private,Masters,Married,White,Female,40,<=50K
3,31,Private,Masters,Never-married,White,Female,50,>50K
4,42,Private,Bachelors,Married,White,Male,40,>50K
...,...,...,...,...,...,...,...,...
19782,53,Private,Masters,Married,White,Male,40,>50K
19783,22,Private,Some-college,Never-married,White,Male,40,<=50K
19784,40,Private,HS-grad,Married,White,Male,40,>50K
19785,58,Private,HS-grad,Widowed,White,Female,40,<=50K
19786,22,Private,HS-grad,Never-married,White,Male,20,<=50K

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19787 entries, 0 to 19786
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             19787 non-null  int64
 1   wc              19787 non-null  object
 2   education       19787 non-null  object
 3   marital status  19787 non-null  object
 4   race            19787 non-null  object
 5   gender          19787 non-null  object
 6   hours per week  19787 non-null  int64
 7   IncomeClass     19787 non-null  object
dtypes: int64(2), object(6)
memory usage: 1.2+ MB

In [27]:
df=pd.get_dummies(df,drop_first=True)
df

,age,hours per week,wc_ Local-gov,wc_ Never-worked,wc_ Private,education_ Doctorate,education_ HS-grad,education_ Masters,education_ Preschool,education_ Prof-school,education_ Some-college,marital status_ Never-married,marital status_ Widowed,marital status_Married,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,gender_ Male,IncomeClass_ >50K
0,38,40,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,1,0
1,28,40,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0
2,37,40,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0
3,31,50,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,1,0,1
4,42,40,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19782,53,40,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,1,1
19783,22,40,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,1,1,0
19784,40,40,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,1,1,1
19785,58,40,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0
19786,22,20,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,1,1,0

In [28]:
x=df.drop('IncomeClass_ >50K',axis=1)
x

,age,hours per week,wc_ Local-gov,wc_ Never-worked,wc_ Private,education_ Doctorate,education_ HS-grad,education_ Masters,education_ Preschool,education_ Prof-school,education_ Some-college,marital status_ Never-married,marital status_ Widowed,marital status_Married,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,gender_ Male
0,38,40,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,1
1,28,40,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0
2,37,40,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,0
3,31,50,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,1,0
4,42,40,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19782,53,40,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,1
19783,22,40,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,1,1
19784,40,40,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,1,1
19785,58,40,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,1,0
19786,22,20,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,1,1

In [29]:
y=df['IncomeClass_ >50K']
y

0        0
1        0
2        0
3        1
4        1
        ..
19782    1
19783    0
19784    1
19785    0
19786    0
Name: IncomeClass_ >50K, Length: 19787, dtype: uint8

In [30]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x[['age','hours per week']]=scaler.fit_transform(x[['age','hours per week']])
x

,age,hours per week,wc_ Local-gov,wc_ Never-worked,wc_ Private,education_ Doctorate,education_ HS-grad,education_ Masters,education_ Preschool,education_ Prof-school,education_ Some-college,marital status_ Never-married,marital status_ Widowed,marital status_Married,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,gender_ Male
0,0.042464,-0.085399,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,1
1,-0.754790,-0.085399,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0
2,-0.037262,-0.085399,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,0
3,-0.515614,0.824458,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,1,0
4,0.361365,-0.085399,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19782,1.238344,-0.085399,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,1
19783,-1.233142,-0.085399,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,1,1
19784,0.201914,-0.085399,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,1,1
19785,1.636971,-0.085399,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,1,0
19786,-1.233142,-1.905113,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,1,1

In [32]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_predict,cross_val_score,cross_validate

In [33]:
model=DecisionTreeClassifier(random_state=42)
CV_result=cross_validate(model,x,y,cv=10,n_jobs=-1,return_train_score=True)
CV_result

{'fit_time': array([0.34661317, 0.39061737, 0.28006864, 0.26806736, 0.29107141,
        0.30407548, 0.2830956 , 0.33008289, 0.28706884, 0.31207585]),
 'score_time': array([0.01600146, 0.01900744, 0.04001284, 0.02601004, 0.02300358,
        0.01500559, 0.01998162, 0.01800656, 0.02400804, 0.0150063 ]),
 'test_score': array([0.77412835, 0.77109651, 0.78423446, 0.75745326, 0.78827691,
        0.79231935, 0.78676099, 0.78867543, 0.7760364 , 0.79120324]),
 'train_score': array([0.90408805, 0.90571653, 0.90380728, 0.90571653, 0.90358266,
        0.90380728, 0.90380728, 0.90414959, 0.90532877, 0.90353192])}

In [37]:
CV_result['train_score'].mean()

0.9043535882172298

In [40]:
CV_result['test_score'].mean()

0.7810184898972068

In [41]:
model=SVC(random_state=42)
CV_result=cross_validate(model,x,y,cv=10,n_jobs=-1,return_train_score=True)
CV_result

{'fit_time': array([79.07301974, 80.01825523, 80.00025082, 79.20405221, 73.07332754,
        72.3561523 , 73.22164917, 71.36423469, 61.61442637, 61.57441759]),
 'score_time': array([ 9.3106668 ,  9.27502942,  9.3802135 ,  9.19169664,  9.60894632,
         9.54248738,  9.81735492, 10.47051811,  8.00763845,  7.99663544]),
 'test_score': array([0.80848914, 0.80444669, 0.81556342, 0.80899444, 0.82668014,
        0.82617484, 0.82364831, 0.83063701, 0.82254803, 0.81648129]),
 'train_score': array([0.8230009 , 0.82283243, 0.82137242, 0.82384322, 0.82081087,
        0.81968778, 0.82086703, 0.82054018, 0.8214386 , 0.8213263 ])}

In [44]:
CV_result['train_score'].mean()

0.8215719715573311

In [52]:
CV_result['test_score'].max()

0.8109201213346815

In [47]:
model=RandomForestClassifier(random_state=42)
CV_result=cross_validate(model,x,y,cv=10,n_jobs=-1,return_train_score=True)
CV_result

{'fit_time': array([7.45026135, 7.43125653, 7.39324832, 7.32623506, 7.415483  ,
        7.55345726, 7.39641786, 7.52844954, 7.02177763, 6.99979639]),
 'score_time': array([0.32308269, 0.33308125, 0.28707933, 0.3230803 , 0.33407879,
        0.30407453, 0.31207871, 0.31502461, 0.24506354, 0.24203181]),
 'test_score': array([0.78928752, 0.78170793, 0.80040424, 0.77362304, 0.80293077,
        0.79989894, 0.80444669, 0.81092012, 0.79120324, 0.79726997]),
 'train_score': array([0.90408805, 0.90571653, 0.90375112, 0.90571653, 0.90358266,
        0.90375112, 0.90375112, 0.90398113, 0.90516031, 0.90336347])}

In [49]:
CV_result['train_score'].mean()

0.9042862056103255

In [53]:
CV_result['test_score'].mean()

0.7951692467572811

In [54]:
x

,age,hours per week,wc_ Local-gov,wc_ Never-worked,wc_ Private,education_ Doctorate,education_ HS-grad,education_ Masters,education_ Preschool,education_ Prof-school,education_ Some-college,marital status_ Never-married,marital status_ Widowed,marital status_Married,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,gender_ Male
0,0.042464,-0.085399,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,1
1,-0.754790,-0.085399,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0
2,-0.037262,-0.085399,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,0
3,-0.515614,0.824458,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,1,0
4,0.361365,-0.085399,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19782,1.238344,-0.085399,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,1
19783,-1.233142,-0.085399,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,1,1
19784,0.201914,-0.085399,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,1,1
19785,1.636971,-0.085399,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,1,0
19786,-1.233142,-1.905113,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,1,1

In [72]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
selector=RFE(model,n_features_to_select=10)
selector.fit(x,y)

C:\Users\mgama\conda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\mgama\conda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

RFE(estimator=LogisticRegression(), n_features_to_select=10)

In [73]:
selector.support_

array([False, False,  True, False, False,  True,  True,  True,  True,
        True,  True,  True, False,  True, False, False,  True, False,
       False])

In [74]:
x.columns

Index(['age', 'hours per week', 'wc_ Local-gov', 'wc_ Never-worked',
       'wc_ Private', 'education_ Doctorate', 'education_ HS-grad',
       'education_ Masters', 'education_ Preschool', 'education_ Prof-school',
       'education_ Some-college', 'marital status_ Never-married',
       'marital status_ Widowed', 'marital status_Married',
       'race_ Asian-Pac-Islander', 'race_ Black', 'race_ Other', 'race_ White',
       'gender_ Male'],
      dtype='object')

In [75]:
x.columns[selector.support_]

Index(['wc_ Local-gov', 'education_ Doctorate', 'education_ HS-grad',
       'education_ Masters', 'education_ Preschool', 'education_ Prof-school',
       'education_ Some-college', 'marital status_ Never-married',
       'marital status_Married', 'race_ Other'],
      dtype='object')

In [76]:
x_new=x[x.columns[selector.support_]]
x_new

,wc_ Local-gov,education_ Doctorate,education_ HS-grad,education_ Masters,education_ Preschool,education_ Prof-school,education_ Some-college,marital status_ Never-married,marital status_Married,race_ Other
0,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0
2,0,0,0,1,0,0,0,0,1,0
3,0,0,0,1,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...
19782,0,0,0,1,0,0,0,0,1,0
19783,0,0,0,0,0,0,1,1,0,0
19784,0,0,1,0,0,0,0,0,1,0
19785,0,0,1,0,0,0,0,0,0,0
19786,0,0,1,0,0,0,0,1,0,0

In [77]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,stratify=y)
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
accuracy_score(y_pred,y_test)

C:\Users\mgama\conda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8142308469779664

In [78]:
scores=cross_val_score(model,x,y,n_jobs=-1)
scores

array([0.80444669, 0.81025771, 0.81829669, 0.82132929, 0.81501137])

In [80]:
scores.mean()

0.8138683495377226

In [81]:
y_pred=cross_val_predict(model,x,y,n_jobs=-1)
accuracy_score(y_pred,y)

0.813867690908172

In [86]:
df=pd.read_csv('Model_Selection/Advertising.csv')
df

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0
...,...,...,...,...,...,...,...,...,...,...
995,72.97,30,71384.57,208.58,Fundamental modular algorithm,Duffystad,1,Lebanon,2016-02-11 21:49:00,1
996,51.30,45,67782.17,134.42,Grass-roots cohesive monitoring,New Darlene,1,Bosnia and Herzegovina,2016-04-22 02:07:01,1
997,51.63,51,42415.72,120.37,Expanded intangible solution,South Jessica,1,Mongolia,2016-02-01 17:24:57,1
998,55.55,19,41920.79,187.95,Proactive bandwidth-monitored policy,West Steven,0,Guatemala,2016-03-24 02:35:54,0
999,45.01,26,29875.80,178.35,Virtual 5thgeneration emulation,Ronniemouth,0,Brazil,2016-06-03 21:43:21,1

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  1000 non-null   float64
 1   Age                       1000 non-null   int64
 2   Area Income               1000 non-null   float64
 3   Daily Internet Usage      1000 non-null   float64
 4   Ad Topic Line             1000 non-null   object
 5   City                      1000 non-null   object
 6   Male                      1000 non-null   int64
 7   Country                   1000 non-null   object
 8   Timestamp                 1000 non-null   object
 9   Clicked on Ad             1000 non-null   int64
dtypes: float64(3), int64(3), object(4)
memory usage: 78.2+ KB

In [92]:
from datetime import datetime
df['Timestamp']=pd.to_datetime(df['Timestamp'],format='%Y-%m-%d %H:%M:%S')
df

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0
...,...,...,...,...,...,...,...,...,...,...
995,72.97,30,71384.57,208.58,Fundamental modular algorithm,Duffystad,1,Lebanon,2016-02-11 21:49:00,1
996,51.30,45,67782.17,134.42,Grass-roots cohesive monitoring,New Darlene,1,Bosnia and Herzegovina,2016-04-22 02:07:01,1
997,51.63,51,42415.72,120.37,Expanded intangible solution,South Jessica,1,Mongolia,2016-02-01 17:24:57,1
998,55.55,19,41920.79,187.95,Proactive bandwidth-monitored policy,West Steven,0,Guatemala,2016-03-24 02:35:54,0
999,45.01,26,29875.80,178.35,Virtual 5thgeneration emulation,Ronniemouth,0,Brazil,2016-06-03 21:43:21,1

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  1000 non-null   float64
 1   Age                       1000 non-null   int64
 2   Area Income               1000 non-null   float64
 3   Daily Internet Usage      1000 non-null   float64
 4   Ad Topic Line             1000 non-null   object
 5   City                      1000 non-null   object
 6   Male                      1000 non-null   int64
 7   Country                   1000 non-null   object
 8   Timestamp                 1000 non-null   datetime64[ns]
 9   Clicked on Ad             1000 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(3), object(3)
memory usage: 78.2+ KB

In [94]:
df=pd.get_dummies(df,columns=['City','Country'],drop_first=True)
df

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,Male,Timestamp,Clicked on Ad,City_Adamside,City_Adamsstad,...,Country_Uruguay,Country_Uzbekistan,Country_Vanuatu,Country_Venezuela,Country_Vietnam,Country_Wallis and Futuna,Country_Western Sahara,Country_Yemen,Country_Zambia,Country_Zimbabwe
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,0,2016-03-27 00:53:11,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,80.23,31,68441.85,193.77,Monitored national standardization,1,2016-04-04 01:39:02,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,0,2016-03-13 20:35:42,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,1,2016-01-10 02:31:19,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,0,2016-06-03 03:36:18,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,72.97,30,71384.57,208.58,Fundamental modular algorithm,1,2016-02-11 21:49:00,1,0,0,...,0,0,0,0,0,0,0,0,0,0
996,51.30,45,67782.17,134.42,Grass-roots cohesive monitoring,1,2016-04-22 02:07:01,1,0,0,...,0,0,0,0,0,0,0,0,0,0
997,51.63,51,42415.72,120.37,Expanded intangible solution,1,2016-02-01 17:24:57,1,0,0,...,0,0,0,0,0,0,0,0,0,0
998,55.55,19,41920.79,187.95,Proactive bandwidth-monitored policy,0,2016-03-24 02:35:54,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999,45.01,26,29875.80,178.35,Virtual 5thgeneration emulation,0,2016-06-03 21:43:21,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [95]:
def ext_pod(x):
    if x.hour in range(0,12):
        return 'Morning'
    elif x.hour in range(12,19):
        return 'AfterNoon'
    else:
        return 'Evening'
df['Period']=df['Timestamp'].apply(ext_pod)
df

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,Male,Timestamp,Clicked on Ad,City_Adamside,City_Adamsstad,...,Country_Uzbekistan,Country_Vanuatu,Country_Venezuela,Country_Vietnam,Country_Wallis and Futuna,Country_Western Sahara,Country_Yemen,Country_Zambia,Country_Zimbabwe,Period
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,0,2016-03-27 00:53:11,0,0,0,...,0,0,0,0,0,0,0,0,0,Morning
1,80.23,31,68441.85,193.77,Monitored national standardization,1,2016-04-04 01:39:02,0,0,0,...,0,0,0,0,0,0,0,0,0,Morning
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,0,2016-03-13 20:35:42,0,0,0,...,0,0,0,0,0,0,0,0,0,Evening
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,1,2016-01-10 02:31:19,0,0,0,...,0,0,0,0,0,0,0,0,0,Morning
4,68.37,35,73889.99,225.58,Robust logistical utilization,0,2016-06-03 03:36:18,0,0,0,...,0,0,0,0,0,0,0,0,0,Morning
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,72.97,30,71384.57,208.58,Fundamental modular algorithm,1,2016-02-11 21:49:00,1,0,0,...,0,0,0,0,0,0,0,0,0,Evening
996,51.30,45,67782.17,134.42,Grass-roots cohesive monitoring,1,2016-04-22 02:07:01,1,0,0,...,0,0,0,0,0,0,0,0,0,Morning
997,51.63,51,42415.72,120.37,Expanded intangible solution,1,2016-02-01 17:24:57,1,0,0,...,0,0,0,0,0,0,0,0,0,AfterNoon
998,55.55,19,41920.79,187.95,Proactive bandwidth-monitored policy,0,2016-03-24 02:35:54,0,0,0,...,0,0,0,0,0,0,0,0,0,Morning
999,45.01,26,29875.80,178.35,Virtual 5thgeneration emulation,0,2016-06-03 21:43:21,1,0,0,...,0,0,0,0,0,0,0,0,0,Evening

In [96]:
def ext_season(x):
    if x.month in [12,1,2]:
        return 'winter'
    elif x.month in [3,4,5]:
        return 'Spring'
    elif x.month in [6,7,8]:
        return 'Summer'
    else:
        return 'Autumn'
df['Season']=df['Timestamp'].apply(ext_season)
df

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,Male,Timestamp,Clicked on Ad,City_Adamside,City_Adamsstad,...,Country_Vanuatu,Country_Venezuela,Country_Vietnam,Country_Wallis and Futuna,Country_Western Sahara,Country_Yemen,Country_Zambia,Country_Zimbabwe,Period,Season
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,0,2016-03-27 00:53:11,0,0,0,...,0,0,0,0,0,0,0,0,Morning,Spring
1,80.23,31,68441.85,193.77,Monitored national standardization,1,2016-04-04 01:39:02,0,0,0,...,0,0,0,0,0,0,0,0,Morning,Spring
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,0,2016-03-13 20:35:42,0,0,0,...,0,0,0,0,0,0,0,0,Evening,Spring
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,1,2016-01-10 02:31:19,0,0,0,...,0,0,0,0,0,0,0,0,Morning,winter
4,68.37,35,73889.99,225.58,Robust logistical utilization,0,2016-06-03 03:36:18,0,0,0,...,0,0,0,0,0,0,0,0,Morning,Summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,72.97,30,71384.57,208.58,Fundamental modular algorithm,1,2016-02-11 21:49:00,1,0,0,...,0,0,0,0,0,0,0,0,Evening,winter
996,51.30,45,67782.17,134.42,Grass-roots cohesive monitoring,1,2016-04-22 02:07:01,1,0,0,...,0,0,0,0,0,0,0,0,Morning,Spring
997,51.63,51,42415.72,120.37,Expanded intangible solution,1,2016-02-01 17:24:57,1,0,0,...,0,0,0,0,0,0,0,0,AfterNoon,winter
998,55.55,19,41920.79,187.95,Proactive bandwidth-monitored policy,0,2016-03-24 02:35:54,0,0,0,...,0,0,0,0,0,0,0,0,Morning,Spring
999,45.01,26,29875.80,178.35,Virtual 5thgeneration emulation,0,2016-06-03 21:43:21,1,0,0,...,0,0,0,0,0,0,0,0,Evening,Summer

In [99]:
df=pd.get_dummies(df,columns=['Period','Season'],drop_first=True)
df

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,Male,Timestamp,Clicked on Ad,City_Adamside,City_Adamsstad,...,Country_Vietnam,Country_Wallis and Futuna,Country_Western Sahara,Country_Yemen,Country_Zambia,Country_Zimbabwe,Period_Evening,Period_Morning,Season_Summer,Season_winter
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,0,2016-03-27 00:53:11,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,80.23,31,68441.85,193.77,Monitored national standardization,1,2016-04-04 01:39:02,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,0,2016-03-13 20:35:42,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,1,2016-01-10 02:31:19,0,0,0,...,0,0,0,0,0,0,0,1,0,1
4,68.37,35,73889.99,225.58,Robust logistical utilization,0,2016-06-03 03:36:18,0,0,0,...,0,0,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,72.97,30,71384.57,208.58,Fundamental modular algorithm,1,2016-02-11 21:49:00,1,0,0,...,0,0,0,0,0,0,1,0,0,1
996,51.30,45,67782.17,134.42,Grass-roots cohesive monitoring,1,2016-04-22 02:07:01,1,0,0,...,0,0,0,0,0,0,0,1,0,0
997,51.63,51,42415.72,120.37,Expanded intangible solution,1,2016-02-01 17:24:57,1,0,0,...,0,0,0,0,0,0,0,0,0,1
998,55.55,19,41920.79,187.95,Proactive bandwidth-monitored policy,0,2016-03-24 02:35:54,0,0,0,...,0,0,0,0,0,0,0,1,0,0
999,45.01,26,29875.80,178.35,Virtual 5thgeneration emulation,0,2016-06-03 21:43:21,1,0,0,...,0,0,0,0,0,0,1,0,1,0

In [100]:
x=df.drop(['Ad Topic Line','Timestamp','Clicked on Ad'],axis=1)
y=df['Clicked on Ad']

In [105]:
CV_result=cross_validate(RandomForestClassifier(),x,y,n_jobs=-1,cv=10,return_train_score=True)
CV_result

{'fit_time': array([3.33389997, 3.43394804, 3.32189989, 3.37510538, 3.53636646,
        3.57437539, 3.44433951, 3.39033031, 2.74269032, 2.72768855]),
 'score_time': array([0.16706729, 0.17805028, 0.1630609 , 0.14986587, 0.14403391,
        0.12603545, 0.1660521 , 0.14403963, 0.13255882, 0.12255716]),
 'test_score': array([1.  , 0.93, 0.97, 0.96, 1.  , 0.97, 0.96, 0.94, 0.95, 0.94]),
 'train_score': array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])}

In [106]:
CV_result['test_score'].mean()

0.962

In [117]:
from sklearn.model_selection import RandomizedSearchCV
params = [
        {'criterion':['gini', 'entropy'], 'n_estimators':[20, 50, 100, 150, 200, 500]}
         ]
GCV=RandomizedSearchCV(estimator=RandomForestClassifier(),param_distributions=params,n_jobs=-1,cv=10,scoring='accuracy')
GCV.fit(x,y)

RandomizedSearchCV(cv=10, estimator=RandomForestClassifier(), n_jobs=-1,
                   param_distributions=[{'criterion': ['gini', 'entropy'],
                                         'n_estimators': [20, 50, 100, 150, 200,
                                                          500]}],
                   scoring='accuracy')

In [109]:
GCV.best_params_

{'criterion': 'entropy', 'n_estimators': 200}

In [110]:
GCV.best_score_

0.967

In [111]:
model=RandomForestClassifier(criterion='entropy',n_estimators=200)

In [112]:
model.fit(x,y)

RandomForestClassifier(criterion='entropy', n_estimators=200)

In [113]:
import joblib
joblib.dump(model,'model.h5')

['model.h5']

In [114]:
x

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Male,City_Adamside,City_Adamsstad,City_Alanview,City_Alexanderfurt,City_Alexanderview,...,Country_Vietnam,Country_Wallis and Futuna,Country_Western Sahara,Country_Yemen,Country_Zambia,Country_Zimbabwe,Period_Evening,Period_Morning,Season_Summer,Season_winter
0,68.95,35,61833.90,256.09,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,80.23,31,68441.85,193.77,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,69.47,26,59785.94,236.50,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,74.15,29,54806.18,245.89,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
4,68.37,35,73889.99,225.58,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,72.97,30,71384.57,208.58,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
996,51.30,45,67782.17,134.42,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
997,51.63,51,42415.72,120.37,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
998,55.55,19,41920.79,187.95,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
999,45.01,26,29875.80,178.35,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0